{
    "presets": [
      [
        "env",
        {
          "targets":{
              "browsers": ["last 8 versions", "ie >= 9"] 
          }
        }
      ],
        
        "stage-2"
       
    ],
    "plugins":[
        "transform-runtime",
        "transform-vue-jsx",
        [
          "component",
          {
            "libraryName": "element-ui",
            "styleLibraryName": "theme-chalk"
          }
        ]
    ]
}